* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tableCompContainer {
    max-width: 80vw;
    min-width: 770px;
    padding: 20px;
    /* background-color: aqua; */
}

.tableContainer {
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.viewAndSearch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.limitViewContainer {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.tableRow:hover {
    background-color: rgb(236, 236, 238);
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    background-color: #161618;
    color: white;
    border: 1px solid black;
    padding: 3px 7px;
}

.rowData {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 3px 8px;
}

.rowData:hover {
    background-color: rgb(205, 212, 226);
}


.searchInput {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.spaninfo {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}